@import '../../sass/colors';

#footer{
  background-color: $color-secundary;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 3;
  position: absolute;
  width: 100%;
  
    span{
      color: #fff;
      font-size: 13px;
    }
}
