<section id="detalhe-local">
  <div class="container" *ngIf="loadingDetalhe == true">
    <div class="row">
      <div class="content-loading">
        <div class="title loading-shimmer"></div>
        <div class="subtitle loading-shimmer"></div>
      </div>
    </div>
  </div>
  <div class="img-cover">
    <img class="img-principal" src="{{localSelect.foto}}" *ngIf="loadingDetalhe == false">
  </div>
  <div class="container">
    <div class="resumo" *ngIf="loadingDetalhe == false">
      <div class="row">
        <div class="col-12">
          <h1 class="title-detalhes">{{localSelect.local}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="categoria">{{localSelect.categoria}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>
            {{localSelect.resumo}}
          </p>
        </div>
      </div>
    </div>

    <div class="caracter-local">
      <div class="row">
        <div class="col">
          <h4>Características do local</h4>
        </div>
      </div>
      <div class="row" *ngIf="loading == true">
        <div class="content-loading">
          <div class="title loading-shimmer"></div>
          <div class="subtitle loading-shimmer"></div>
        </div>
      </div>
      <div class="row opcao-local" *ngIf="loading == false">
        <div class="col-6 col-md-2" *ngFor="let caracteristica of caracteristicaLocal">
          <!-- <div class="borda-img">
            <img src="./assets/img/img-fraldario.svg">
          </div> -->
          <div class="box">
            <img src="./assets/img/checked.svg" height="16px">
            <h6> {{caracteristica.caracteristica}}</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="endereco">
      <div class="row">
          <div class="col">
            <h4>Endereço</h4>
            <div class="maps" #gmap >
            </div>
          </div>
        </div>
    </div>

    <div class="avaliacao">
      <div class="row">
        <div class="col">
          <h1 class="num-avaliacoes">Avaliações <span *ngIf="avaliacoesLocal != null" >({{avaliacoesLocal.length}})</span></h1>
        </div>
      </div>
      <div class="row" *ngIf="loadingAvaliacao == true">
        <div class="content-loading">
          <div class="title loading-shimmer"></div>
          <div class="subtitle loading-shimmer"></div>
        </div>
      </div>
      <div class="row" *ngIf="loadingAvaliacao == false">
        <div class="col-12" *ngFor="let aval of avaliacoesLocal">
          <div class="depoimentos">
            <div class="row">
              <div class="col-xs-4">
                <img src="{{aval.foto}}" onError="this.src='./assets/img/avatar.svg'"/>
              </div>
              <div class="col-xs-4">
                <p class="nome">{{aval.nome}}</p>
                <p class="data">{{aval.data | date: 'dd/MM/yyyy'}}</p>
              </div>
            </div>
            <p class="depo">
              {{aval.comentario}}
            </p>
          </div>
        </div>
        <div class="col mb-4" *ngIf="avaliacoesLocal.length < 1">
          <p>Local sem avaliação até o momento.</p>
        </div>
      </div>
    </div>
  </div>
</section>
