@import '../../sass/colors';
@import '~sass/loading_shimmer'; 

#detalhe-local {
  margin-top: 64px;
  min-height: 573px;

  .maps {
    height: 300px;
  }

  .img-principal {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .title-detalhes {
    font-size: 35px;
    margin: 30px 0;
    font-weight: bold;
    color: #484848;
  }

  .categoria {
    background-color:$color-primary;
    color: white;
    padding: 1px 3px 3px 3px;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 500;
  }

  p {
    font-size: 1.1rem;
    margin-top: 20px;
    color: #484848;
    line-height: 1.5;
  }

  .caracter-local {
    h4 {
      color: #484848;
      line-height: 4;
      font-weight: 700;
      font-size: 1.4rem;
      font-family: 'Roboto';
    }

    .box{
      display: -webkit-inline-box;
      line-height: 35px;
    }

    .opcao-local {
      border-top: 1px solid $gray-light;
      border-bottom: 1px solid $gray-light;
      padding: 46px 0;
      
      h6 {
        font-weight: 400;
        color: $color-black;
        margin-top: 10px;
        margin-left: 10px;
      }
    }

    .borda-img {
      border: 1px solid;
      border-radius: 90px;
      width: 90px;
      height: 90px;
    
      img {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 40px;
        bottom: 80px;
      }
    }
  }

  .endereco {
    h4 {
      color: $color-black;
      line-height: 4;
      font-weight: 700;
      font-size: 1.4rem;
      font-family: 'Roboto';
    }

    img {
      width: 100%;
    }
  }

  .avaliacao {
    margin-top: 50px;

    .num-avaliacoes {
      margin-bottom: 40px;
      font-weight: 700;
      font-style: normal;
      font-size: 1.4rem;
      color: $color-black;
      font-family: 'Roboto';
    }
    .depoimentos {
      border-bottom: 1px solid $gray-light;
      padding: 24px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-left: 15px;
      }

      .nome, .data {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 15px;
      }

      .nome {
        text-transform: capitalize;
        color: $color-black;
        font-weight: 400;
      }
      .data {
        color:#999999;
        font-size: 17px;
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 767px) {
  #detalhe-local {
    .title-detalhes {
      font-size: 30px;
    }

    .caracter-local {
      .opcao-local {
        .borda-img {
          margin: auto;

          img {
            bottom: 62px;
            left: 37%;
  
            &.monitor {
              bottom: 80px;
              left: 62px;
            }
          }
        }

        h6 {
          margin-left: 0;
          text-align: center;
        }
       
      }
    }
  }
}

.content-loading{
  width: 100%;
  
  .title{
    width: 50%;
    height: 20px;
    margin-top: 15px;
    background-color: #f6f7f9;
  }

  .subtitle{
    width: 100%;
    height: 20px;
    margin-top: 15px;
    background-color: #f6f7f9 ;
  }
}

.loading-shimmer{
  @extend %loading-shimmer;
}