$color-primary: #2bbaff;
$color-secundary: #e06766;
$secundary-light: #EF6768;
$bg-blue: #f0f0f0;
$color-white: #fff;
$color-black: #484848;
$bg-partner: #e8f6fe;
$gray-light: rgba(128, 128, 128, 0.36);

.bck-primary{
  background-color: $color-primary;
  color: $color-white;
  font-weight: 600;
}
.color-primary{
	color: $color-primary;
}

