@import '~sass/loading_shimmer'; 

#locais {
  background-color: #e9ebee;
  height: 100%;
  min-height: 68vw;

  agm-map {
    height: 100%;
  }

  .form-group{
    margin-bottom: 0px;
  }

  .coluna-mapa{
    position: fixed;
    right: 0;
    top: 65px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .maps{
    height: 90vh;
    background: url('../../assets/img/maps.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .coluna-resultado {
    box-shadow: -5px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    z-index: 2;
  }

  .filtro {
    margin: 0px -30px 0px -15px;
    padding: 15px 15px;
    border-bottom: 1px solid;
    border-color: #cccccc;
    background: white;
    width: 100%;
    position: fixed;
    top: 62px;
    left: 15px;
    z-index: 2;
  }

  .retorno-locais {
    margin-top: 125px;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0px -30px 0px -15px;
    padding: 20px 30px;
    border-bottom: 1px solid;
    border-color: #cccccc;
    background: white;

    width: 100%;
    position: fixed;
    top: 62px;
    left: 15px;
    z-index: 2;

    a {
      display: inline-flex;
      text-decoration: none;

      li {
        font-family: 'ArialMT', 'Arial';
        font-size: .9rem;
        font-weight: 500;
        color: #333333;
      }
      img {
        height: 14px;
        margin-top: 5px;
        margin-left: 10px;
      }
    }
  }

  .retorno-locais {
    
    .card-local {
      overflow: hidden;
      height: 295px;
      width: 100%;
      position: relative;
      margin-bottom: 8px;
      margin-top: 8px;
      border-radius: 3px;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      cursor: pointer;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .filter {
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        position: absolute;
        bottom: 0px;
        width: 100%;
        min-height: 200px;
  
        span {
          display: inline-block;
          margin-left: 10px;
          margin-top: 125px;
  
          &.categoria {
            font-size: .8rem;
            background: white;
            padding: 2px 4px;
            border-radius: 2px;
            font-family: 'Roboto-Regular', 'Roboto';
          }
          &.star {
            background-image: url('../../assets/img/star.svg');
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: 0px center;
            padding-left: 30px;
            color: white;
            font-size: 15px;
          }
          &.comentarios {
            font-family: 'Roboto-Light', 'Roboto Light', 'Roboto';
            font-weight: 200;
            font-style: normal;
            font-size: 11px;
            color: #F0F0F0;
          }
        }
  
        .nome-local {
          font-family: 'Roboto-Bold', 'Roboto Bold', 'Roboto';
          font-weight: 700;
          font-style: normal;
          font-size: 1.38rem;
          color: #FFFFFF;
          padding: 10px;
          margin-bottom: 0px;
        }
      }
    }
    
  }

  .loading-locais{

    
    .card-loading {
      background: white;
      position: relative;
      border-radius: 3px;      
      overflow: hidden;
      width: 100%;
      padding: 15px;
      margin-top: 15px;
      
      .image{
        height: 200px;
        background-color: #f6f7f9;
      }
  
      .title{
        width: 50%;
        height: 20px;
        margin-top: 15px;
        background-color: #f6f7f9;
      }
  
      .subtitle{
        width: 100%;
        height: 20px;
        margin-top: 15px;
        background-color: #f6f7f9 ;
      }
    }
  }

  .btn-group{


    .btn-primary.btn{
      background-color: transparent ;
      border-color: #ced4da !important;
      color: #495057;
      padding: 5px 10px;
      font-size: 0.8em;
    }

    .btn-primary.btn.active {
      background-color: #2bbaff !important;
      border-color: #2bbaff !important;
      color: #ffffff;
    }

  }

}

.loading-shimmer{
  @extend %loading-shimmer;
}