<section id="locais">
  <div class="container-fluid">
    <div class="wrapper">
      <div class="row">
        <div class="col-12 col-md-8 col-lg-8 col-xl-7 coluna-resultado">
          <div class="filtro col-12 col-md-8 col-lg-8 col-xl-7">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <select class="form-control form-control-sm" id="city" [(ngModel)]="cidadeSelecionada" (ngModelChange)="setCidadeGlobal()">
                    <option value="choose">Escolha cidade</option>  
                    <option  *ngFor="let cidade of cidades" [ngValue]="cidade">{{cidade.nome}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="retorno-locais">
            <div class="row loading-locais" *ngIf="loading == true">

              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="card-loading">
                  <div class="image loading-shimmer">
                  </div>
                  <div class="title loading-shimmer">
                  </div>
                  <div class="subtitle loading-shimmer">
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="card-loading">
                  <div class="image loading-shimmer">
                  </div>
                  <div class="title loading-shimmer">
                  </div>
                  <div class="subtitle loading-shimmer">
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="card-loading">
                  <div class="image loading-shimmer">
                  </div>
                  <div class="title loading-shimmer">
                  </div>
                  <div class="subtitle loading-shimmer">
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="card-loading">
                  <div class="image loading-shimmer">
                  </div>
                  <div class="title loading-shimmer">
                  </div>
                  <div class="subtitle loading-shimmer">
                  </div>
                </div>
              </div>
                  
            </div>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="padding-left: 8px; padding-right: 8px;" *ngFor="let local of locaisExibir">
                <div id="{{local.id_local}}" class="card-local" (click)="directDetalheLocal(local)" >
                  <img src="{{local.fotocomurl}}">
                  <div class="filter">
                    <span class="categoria">{{local.categoria}}</span>
                    <span class="categoria">{{local.cidade}}</span>
                    <span class="star">{{local.notamedia}}</span>
                    <p class="nome-local">{{local.local}}</p> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-12 col-md-4 col-lg-4 col-xl-5 coluna-mapa d-none d-sm-none d-md-block d-lg-block">
          <div class="maps" #gmap></div>
        </div>
      </div>
    </div>
  </div>
</section>
