@import '../../sass/colors';

.navbar {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(153, 153, 153, 0.35);
  -moz-box-shadow: 0px 1px 2px 0px rgba(153, 153, 153, 0.35);
  box-shadow: 0px 1px 2px 0px rgba(153, 153, 153, 0.35);
  padding: .2rem 1rem;
  z-index: 3;
  background-color: white;

  .navbar-brand {
    img {
      width: 90px;
    }
  }
  .navbar-nav {

    .nav-item {
      margin: 0 5px;
      cursor: pointer;
      
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom: 2px solid $color-black;
        border-color: $color-secundary;
      }

      .nav-link {
        color: $color-black;
        font-size: 1rem;
        font-weight: 400;
        padding: 5px 8px;

        &.cadastro {
          border: solid 1px $color-black;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          border-radius: 20px;
          padding: 7px 20px;

          &:hover {
            background-color: $color-primary;
            color: $color-white;
            border-color: $color-primary;
          }
        }
      }
    }
  } 
}


@media (max-width: 767px) {
  .navbar {
    .navbar-toggler {
      outline: none;
      border: none;

      svg {
        width: 25px;

        path {
          fill: $color-primary;
        }
      }
    }

    .navbar-collapse {
      margin-top: 40px;
      height: 450px;

      .nav-item {
        margin-bottom: 20px;
        border-bottom: 1px solid $color-black;
        border-color: $color-secundary;

      }
    }
  }
}