
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="../assets/img/logo-color.svg">
    </a>
    <button class="navbar-toggler" type="button" (click)="clickMenuMobile()" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"/></svg> -->
      <svg aria-hidden="true" data-prefix="far" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-bars fa-w-14 fa-3x"><path fill="currentColor" d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z" class=""></path></svg>
    </button>
    

    <div [hidden]="hiddenMenuMobile" class="navbar-collapse flex-row-reverse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#evaluation" class="nav-link" (click)="clickItemMenu('evaluation')">Locais</a></li>
        <li class="nav-item"><a href="#professional" class="nav-link" (click)="clickItemMenu('professional')">Profissionais</a></li>
        <li class="nav-item"><a href="#app" class="nav-link" (click)="clickItemMenu('app')">Baixe o App</a></li>
        <li class="nav-item"><a href="#partner" class="nav-link" (click)="clickItemMenu('partner')">Seja nosso Embaixador</a></li>
        <li class="nav-item"><a href="#contact" class="nav-link" (click)="clickItemMenu('contact')">Contato</a></li>
        <!-- <li class="nav-item"><a class="nav-link cadastro">Cadastre-se</a></li>
        <li class="nav-item"><a class="nav-link">Login</a></li> -->
      </ul>
    </div>
  </div>
</nav>
