/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";


.btn-rounded{
  border-radius: 100px;
  padding: 10px 25px;
  text-transform: uppercase;
  cursor: pointer;
}

.fw-500{
  font-weight: 500;
}

.form-group label{
  font-weight: 500;
  font-size: .9rem;
  margin-bottom: 0.5rem;
}

.form-group input, .form-group textarea{
  border: 1px solid #999999;
  border-radius: 3px;
  padding: 12px 18px;
  font-size: .9rem;
}

h2.title{
  font-weight: 300;
}

hr{
  box-sizing: inherit;
  margin-bottom: 35px;
}

.section-home{
  padding: 60px 0;
}

.section-home .title{
    font-weight: 200;
    font-size: 48px;
}

.section-home .divider{
  margin-top: 20px;
  width: 30px;
  height: 1px;
  background: #EF6768;
}






