<header id="destaque" class="header-destaque">
  <div class="overlay">
    <div class="container body">
      <div class="destaque-central text-center">
        <img src="../assets/img/logo-color.svg" alt="logo da empresa">
        <h2 class="title banner text-center">Encontre locais e serviços ideais para sua <span class="fw-500">família</span></h2>
        <div class="bcg-busca">
          <div class="row align-items-end">
            <div class="col-12 col-md-4 offset-md-1">
              <div class="form-group">
                <select class="form-control" id="tipo" [(ngModel)]="categoriaSelecionada" >
                  <option value="">O que está planejando?</option>
                  <option value="restaurante">Restaurantes</option>
                  <option value="entretenimento">Entretenimento</option>
                  <option value="museus-teatros">Museus e Teatros</option>
                  <option value="pracas-parques">Praças e Parques</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <select class="form-control" id="city" [(ngModel)]="cidadeSelecionada" (ngModelChange)="setCidadeGlobal()">
									<option *ngIf="loadingCidade" value="">Carregando...</option>
									<option  value="onde" selected>Onde?</option>
                  <option *ngFor="let cidade of cidades" [ngValue]="cidade">{{cidade.nome}}</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-2">
              <div class="form-group">
                <button class="btn btn-search bck-primary btn-rounded" (click)="pesquisaLocal()"><img src="/assets/img/icon-search.svg" alt=""></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="scrollable">
	<!--Melhores avaliados-->
	<section id="evaluation" class="section-home">
	  <div class="container">
	    <div class="row">
	      <div class="col text-center">
	        <h2 class="title">
	          Locais melhores avaliados em <span>São Paulo</span>
	        </h2>
					<hr class="divider"/>
					<div class="row loading" *ngIf="loadingPlaceBetter">
						<div class="col-xs-12 col-sm-6 col-xl-3">
							<div class="card-loading">
								<div class="image loading-shimmer"></div>
								<div class="title loading-shimmer"></div>
								<div class="subtitle loading-shimmer"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-xl-3">
							<div class="card-loading">
								<div class="image loading-shimmer"></div>
								<div class="title loading-shimmer"></div>
								<div class="subtitle loading-shimmer"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-xl-3">
							<div class="card-loading">
								<div class="image loading-shimmer"></div>
								<div class="title loading-shimmer"></div>
								<div class="subtitle loading-shimmer"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-xl-3">
							<div class="card-loading">
								<div class="image loading-shimmer"></div>
								<div class="title loading-shimmer"></div>
								<div class="subtitle loading-shimmer"></div>
							</div>
						</div>
					</div>
					<div class="row" *ngIf="!loadingPlaceBetter">
						<div class="col-xs-12 col-sm-6 col-xl-3" *ngFor="let local of melhoresAvaliados">
							<div class="card-box" (click)="directDetalheLocal(local)">
								<img src="{{local.foto}}" alt="">
								<div class="filter">
									<span class="especialidade">{{local.categoria}}</span>
									<span class="star"></span>
									<span class="comentarios"></span>
									<p class="nome-local">{{local.local}}</p>
								</div>
							</div>
						</div>
					</div>
	        <a routerLink="/locais" class="btn bck-primary btn-rounded mt-4">carregar mais locais</a>
	      </div>
	    </div>
	  </div>
	</section>
		<!--Profissionais-->
		<section id="professional" class="section-home">
			<div class="container">
				<div class="row">
					<div class="col text-center">
						<h2 class="title">
							Profissionais <span>Baby Friendly</span>
						</h2>
						<hr class="divider"/>
						<div class="row loading" *ngIf="loadingProfessionals">
							<div class="col-xs-12 col-sm-6 col-xl-3">
								<div class="card-loading">
									<div class="image loading-shimmer"></div>
									<div class="title loading-shimmer"></div>
									<div class="subtitle loading-shimmer"></div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-xl-3">
								<div class="card-loading">
									<div class="image loading-shimmer"></div>
									<div class="title loading-shimmer"></div>
									<div class="subtitle loading-shimmer"></div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-xl-3">
								<div class="card-loading">
									<div class="image loading-shimmer"></div>
									<div class="title loading-shimmer"></div>
									<div class="subtitle loading-shimmer"></div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-xl-3">
								<div class="card-loading">
									<div class="image loading-shimmer"></div>
									<div class="title loading-shimmer"></div>
									<div class="subtitle loading-shimmer"></div>
								</div>
							</div>
						</div>
						<div class="row" *ngIf="!loadingProfessionals">
							<div class="col-xs-12 col-sm-6 col-xl-3" *ngFor="let profissional of listaProfissionais">
								<div class="card-box" (click)="directDetalheLocal(profissional)">
									<img src="{{profissional.foto}}" alt="">
									<div class="filter">
										<span class="star"></span>
										<span class="comentarios"></span>
										<p class="nome-profissional">{{profissional.local}}</p>
									</div>
								</div>
							</div>
						</div>
						<!-- <a routerLink="/locais" class="btn bck-primary btn-rounded">carregar mais profissionais</a> -->
					</div>
				</div>
			</div>
		</section>
	<!--Baixe o app-->
	<section id="app" class="section-home">
	  <div class="container">
	    <div class="row">
	      <div class="col">
	        <h2 class="title text-center">Baixe o nosso App</h2>
	        <hr class="divider"/>
	      </div>
	    </div>
	    <div class="row column-reverse">
	      <div class="col-12 col-md-6 mt-5">
	        <p class="content-app">Locais <span class="fw-500">Baby Friendly</span> na palma da sua mão.</p>
	        <hr class="divider  ml-1"/>
	        <div class="row">
	          <div class="col-md-6">
	            <p class="tools-app">Confira os locais próximos, sugeridos ou busque com filtro o local ideal para sua família.</p>
	          </div>
	          <div class="col-md-6">
	            <p class="tools-app">Salve os locais e atividades de maior interesse para ir outro dia ou mesmo para não esquecer aquele local especial. :)</p>
	          </div>
	        </div>
	        <div class="row">
	          <div class="col-md-6 mt-4">
	            <p class="tools-app">Avalie com estrelas e inclua seu comentário de cada local após sua visita. Sua avaliação é importantíssima!</p>
	          </div>
	        </div>

	        <div class="row mt-5">
	          <div class="col col-md-6 text-center">
	            <a href="https://itunes.apple.com/br/app/baby-check-in/id1074017300?mt=8" target="_blank" class="bck-primary btn btn-rounded btn-app mr-2"><img src="/assets/img/btn-ios.svg"></a>
	          </div>
	          <div class="col col-md-6 text-center">
	            <a href="https://play.google.com/store/apps/details?id=com.babycheckin" target="_blank" class="bck-primary btn btn-rounded btn-app"><img src="/assets/img/btn-android.svg"></a>
	          </div>
	        </div>
	      </div>
	      <div class="col-12 col-md-4 ml-auto">
	        <img class="img-app" src="/assets/img/app-1.png">
	      </div>
	    </div>
	  </div>
	</section>

	<!--Seja embaixador-->
	<section id="partner" class="section-home">
	  <div class="container text-center">
	    <div class="row">
	      <div class="col">
	        <h2 class="title">Seja nosso Embaixador(a)</h2>
	        <hr class="divider"/>
	      </div>
	    </div>
	    <p>Ajude os pais da sua cidade com sua participação cadastrando e sugerindo locais Baby Friendly.</p>
	    <a href="https://goo.gl/forms/Y2Cl1aRUImj0NtBA2" target="_blank" class="btn bck-primary btn-rounded">Legal, quero ser embaixador!</a>
	  </div>
	</section>

	<!--Contato-->
	<section id="contact" class="section-home">
	  <div class="container">
	    <div class="row">
	      <div class="col">
	        <h2 class="title text-center">Vamos trocar experiência?</h2>
	        <hr class="divider"/>
	      </div>
	    </div>
	    <p class="text-center">Conte pra gente, queremos saber sugestões, críticas ou até risada de bebê. :) </p>

	    <div class="row">
	      <div class="col-xs-12 col-md-6">
          <h5 class="ml-4 text-center">Para falar com a gente, entre em contato pelo e-mail abaixo:</h5>
          <p class="text-center mt-3"><b>hello@babycheckin.com.br</b></p>
	        <!-- <form action="mailto:anegurjao@gmail.com" method="post" enctype="text/plain" class="row form-inline justify-content-center">
						<div class="col-12 col-md-6">
							<div class="form-group mb-5">
								<label for="nome">Nome</label>
								<input type="text" class="form-control" id="nome">
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group mb-5">
								<label for="sobrenome">Sobrenome</label>
								<input type="text" class="form-control" id="sobrenome">
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group mb-5">
								<label for="email">Email</label>
								<input type="text" class="form-control" id="email">
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group mb-5">
								<label for="assunto">Assunto</label>
								<input type="text" class="form-control" id="assunto">
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<label for="Textarea">Mensagem</label>
								<textarea class="form-control" id="Textarea" cols="54" rows="5"></textarea>
							</div>
						</div>
	          <button type="submit" class="btn bck-primary btn-rounded">Enviar Mensagem</button>
	        </form> -->

	      </div>

	      <div class="col-xs-12 col-md-6">
	        <h5 class="ml-4 text-center">Aproveite e conecte-se com a gente, amamos compartilhar dicas, notícias e coisas que pais gostam.</h5>
	        <div class="row midia mt-5 justify-content-center">
	          <div class="pr-3">
	            <a href="https://www.facebook.com/babycheckin/" target="_blank" alt="icone facebook rosa"><img src="/assets/img/icon-face.svg"></a>
	          </div>
	          <div class="pr-3">
	            <a href="https://www.linkedin.com/company/10396724/" target="_blank" alt="icone twitter rosa"><img src="/assets/img/icon-twitter.svg"></a>
	          </div>
	          <div class="pr-3">
	            <a href="https://www.instagram.com/babycheckin/" target="_blank" alt="icone instagram rosa"><img src="/assets/img/icon-insta.svg"></a>
	          </div>
	          <div class="pr-3">
	            <a href="https://www.youtube.com/channel/UCruDEC-U3qCLIhN_-ViFtpA" target="_blank" alt="icone youtube rosa"><img src="/assets/img/icon-youtube.svg"></a>
	          </div>
	        </div>
	        </div>

	    </div>
	  </div>
	</section>
</div>
