@import '../../sass/colors';
@import '~sass/loading_shimmer';

/**HEADER**/
.header-destaque{
  background-image: url("/assets/img/grupo-criancas.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  color: #fff;
  font-family: Roboto;
  margin-top: 64px;

  .overlay {
    background: rgba(26,30,63,.72);
    height: 100%;
  }
  .body {
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 0 !important;

    .destaque-central {
      display: table-cell;
      vertical-align: middle;

      img {
        width: 200px;
      }
      .title{
        font-weight: 200;
        color: white;
      }
      .title.banner{
        margin: 40px 0;

        // @media (max-width: 767px) {
        //   margin-top: 200px;
        // }
      }

      .sub-title{
        font-weight: 200;
        line-height: 4;
      }

      .input-group{
        background-color: white;
        border-radius: 5rem;
        padding: 2px;
      }

      .bcg-busca {
        background: white;
        border-radius: 45px;
        width: 700px;
        margin: 0 auto;
        padding: 8px 0;

        @media (max-width: 767px) {
          background: none;
          width: 100%;
        }

        .form-group {
          margin: 0.5rem 0;

          select.form-control:not([size]):not([multiple]) {
            height: calc(2.25rem + 8px);
            font-weight: 600;
          }

          .btn-search{
            border-radius: 50px;
            padding: 8px 46px;
            cursor: pointer;

            img{
              max-width: 1.5rem;
            }
          }
        }
      }
    }
  }
}

/**Melhores avaliados**/
.section-home {
  .title {
    font-weight: 400;

    span {
      color: #EF6768;
    }
  }

  .card-loading {
    background: white;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
    padding: 15px;
    margin: 15px 0px;

    .image{
      height: 200px;
      background-color: #f6f7f9;
    }

    .title{
      width: 50%;
      height: 20px;
      margin-top: 15px;
      background-color: #f6f7f9;
    }

    .subtitle{
      width: 100%;
      height: 20px;
      margin-top: 15px;
      background-color: #f6f7f9 ;
    }
  }

  .loading-shimmer{
    @extend %loading-shimmer;
  }

}

.card-box {
  cursor: pointer;
  overflow: hidden;
  height: 295px;
  width: 100%;
  position: relative;
  margin-bottom: 8px;
  margin-top: 8px;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .filter {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: absolute;
    bottom: 0px;
    width: 100%;
    min-height: 200px;

    .nome-local {
      font-family: 'Roboto-Bold', 'Roboto Bold', 'Roboto';
      font-weight: 700;
      font-style: normal;
      font-size: 1.18rem;
      color: #FFFFFF;
      padding: 14px;
      margin-bottom: 0px;
      float: left;
      text-align: left;
    }

    .nome-profissional {
      font-family: 'Roboto-Bold', 'Roboto Bold', 'Roboto';
      font-weight: 700;
      font-style: normal;
      font-size: 1.18rem;
      color: #FFFFFF;
      padding: 20px;
      margin-bottom: 0px;
    }

    span {
      display: inline-block;
      margin-left: 10px;
      margin-top: 125px;

      &.especialidade {
        font-size: .8rem;
        background: white;
        padding: 2px 4px;
        border-radius: 2px;
        font-family: 'Roboto-Regular', 'Roboto';
        float: left;
      }

      &.star {
        background-image: url('../../assets/img/star.svg');
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 0px center;
        padding-left: 30px;
        color: white;
        font-size: 15px;
      }

      &.comentarios {
        font-family: 'Roboto-Light', 'Roboto Light', 'Roboto';
        font-weight: 200;
        font-style: normal;
        font-size: 11px;
        color: #F0F0F0;
      }
    }
  }

}
/**profissionais**/


/**Baixe o app**/
#app{

  .content-app{
    font-size: 28px;
    font-weight: 200;
    margin-bottom: 20px;
  }

  .btn-app{
    padding: 4px;
    border: none;
    min-width: 245px;
    height: 55px;

    img{
      width: 163px;
    }
  }

  .img-app{
    height: 500px;
    width: 100%;
  }

  .tools-app{
    font-size: .9rem;
    border-left: solid 1px $color-primary;
    padding-left: 10px;
    line-height: 15px;
  }
}

/** Seja embaixador**/
#partner{
  background-color: $bg-partner;
  p{
    font-size: .95rem;
    width: 40%;
    margin: 10px auto 78px;
    line-height: 19px;
  }

}


/**Contato**/
#contact{

  p{
    font-size: 15px;
    margin-bottom: 50px;
  }

  form {
    .form-group {

      label {
        position: absolute;
        left: 17px;
        top: -25px;
      }
      .form-control {
        width: 100%;
        &input {
          position: relative;
        }
      }
    }

    button{
      margin-top: 2rem;
    }
  }


  h5{
    font-size: 15px;
    max-width: 88%;
    line-height: 1.2;
  }
  .midia img{
    width: 54px;
    height: 54px;
  }


}

// media queries

@media (max-width:767px) {
  .header-destaque {
    background-position: center;
    height: 135vh;

    .sub-title {
      font-size: 1rem;
      line-height: 1.5;
      margin: 40px 0;
    }

    .panel-category {
      .item-category {

        width: 150px;
        margin: 0 auto;

        .circle-img {
          padding: 18px;
          width: 81px;
          height: 81px;
          margin: 0 auto;
        }
      }
    }
  }

  .title {
    font-size: 2.2rem;
  }

  #app {
    .content-app {
      font-size: 1.5rem;
    }

    .btn-app {
      margin-bottom: 20px;
    }

    .column-reverse {
      display: flex;
      flex-wrap: wrap-reverse;
    }
  }

  #partner {
    p {
      width: 90%;
    }
  }

  #contact {
    h5 {
      margin-top: 25px;
    }
  }

}
